body {
    background-color: #ffffff;
    font-family: "Courier New", monospace;
    margin: 0px auto;
    width: 70%;
    background-image: url("trees.jpg");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
}  

/* Navigation bar */
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}


article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1; 
  background-image: url("trees.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  padding: 10px;
    
    
    }

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

    /* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}
