@page  { 
    size: auto;   /* auto is the initial value */ 
    margin: 2cm 1.5cm 2cm 1.5cm;
}
body,html { margin:0cm;padding:0cm; text-align:center; }
div#outer { }
div#colleft {display:none}
div#colhelp {display:none}
div#minihelp {display:none}
div#authorship {display:none}
div#introtext {display:none}
div#singleintro {display:none}
div.printhide {display:none !important;}
/*div#printinfo {font-size:0.5em;font-weight:bold;}*/
div#printinfo {display:none}
div#dyk {display:none}
/*div#printinfo {height:0px;width:0px;overflow:hidden;visibility:hidden;}*/
img.chordimg, div#colsheet img {margin-right:4px;margin-left:4px;vertical-align:top;}
div.linebr { border-top:dotted 4px black; margin-top:4px; margin-bottom:4px; }
