body {font-family:"Arial","Helvetica","DejaVu Sans","sans-serif","sans";font-size:0.85em;background-color:#f5ffe1;}
a, a:visited {color:#008866;}
a:active {color:#999900;}
h1,h2,h3 {margin:2px;}
h1 {text-align:center;font-family:serif;}
li {margin-top:1px;margin-bottom:1px;margin-left:0px;}

input#instrument { display:none; }
span#instname {font-size:1.3em;font-weight:bold;text-transform:capitalize;}
input#tuning	{width:180px; font-size:1.75em;font-weight:bold;background-color:#F5FFe1;}
span#qualityna {font-size:1.25em;font-weight:bold;width:86px;display:inline-block;}
span#qualitybox {font-size:1.25em;font-weight:bold;width:86px;display:inline-block;}
select#chord, select#chord option {font-size:14pt;background-color:#F5FFe1;font-weight:bold;color:#000;width:90px;}
select#quality, select#quality option {font-size:11pt;background-color:#F5FFe1;font-weight:bold;color:#000;width:86px;}

form {display:inline;}

select#scale,  select#scale option {width:168px;font-size:12pt;background-color:#F5FFe1;color:#000;font-weight:bold;}
select#scale option#ion		{color:#00CC00;}
select#scale option#dor		{color:#FFA500;}
select#scale option#lyd		{color:#CC00CC;}
select#scale option#mix		{color:#CC0000;}
select#scale option#aeo		{color:#6666FF;}
select#scale option#phr		{color:#CCCC00;}
select#scale option#loc		{color:#00CCCC;}
select#scale option#pent	{color:#66A566;}
select#scale option#mpent	{color:#6666A5;}
select#scale option#rpent	{color:#6666A5;}
select#scale option#moh		{color:#9955EE;}

input#cpos	{width:150px;font-size:1.3em;font-weight:bold;background-color:#FFFFF0}
select#capo, select#capo option {width:48px;font-size:12pt;background-color:#CCCCCC;}
select#alt, select#capo option {width:48px;font-size:12pt;background-color:#CCCCCC;}

/*
input#tune {font-size:1.2em;background-color:#DDcc44;color:#000000;font-weight:bold;width:85px;}
input#help {font-size:1.2em;background-color:#DDcc44;color:#000000;font-weight:bold;width:85px;}
input#printch {font-size:1.2em;background-color:#b4cc6a;color:#000000;font-weight:bold;width:85px;}
input#tuneopen {font-size:1.2em;background-color:#94b86a;color:#000000;font-weight:bold;width:85px;}
input#manual {font-size:1.2em;background-color:#DDcc44;color:#000000;font-weight:bold;width:85px;}
input#random {font-size:1.2em;background-color:#94b86a;color:#000000;font-weight:bold;width:85px;}
input#random[disabled="disabled"], input#tuneopen[disabled="disabled"] {background-color:#CCCCCC;color:#888888;}
input#customsheet {font-size:1em;background-color:#b4cc6a;color:#000000;font-weight:bold;width:174px;}
*/

input#tune {font-size:1.2em;background-color:#55CCCC;font-weight:bold;width:85px;}
input#help {font-size:1.2em;background-color:#CC66CC;font-weight:bold;width:85px;}
input#printch {font-size:1.2em;background-color:#DDAA55;font-weight:bold;width:85px;}
input#tuneopen {font-size:1.2em;background-color:#55CC55;font-weight:bold;width:85px;}
input#manual {font-size:1.2em;background-color:#DDcc44;color:#000000;font-weight:bold;width:85px;}
input#random {font-size:1.2em;background-color:#b4cc6a;color:#000000;font-weight:bold;width:85px;}
input#random[disabled="disabled"], input#tuneopen[disabled="disabled"] {background-color:#CCCCCC;color:#888888;}
input#customsheet {font-size:1em;background-color:#ddddc0;color:#000000;font-weight:bold;width:174px;}

input#donatebtn {background-color:#CCBB00;color:#0000CC;font-size:1em;font-weight:bold;margin:2px;}
input#bugreport {background-color:#000000;color:#FF6666;font-size:1em;font-weight:bold;margin:2px;}

select#offset, select#offset option {width:48px;font-size:12pt;background-color:#CCCCCC;}
select#prefersf, select#offset option {width:48px;font-size:12pt;background-color:#CCCCCC;}
select#randomize, select#randomize option {width:120px;font-size:10pt;background-color:#CCCCCC;}

div#bcglink {font-size:1.5em;}

div#colleft     {position:fixed; overflow-y:auto; padding:4px; padding-right:10px; top:8px;left:0px; bottom: 8px; margin: 0px 4px 0px 8px; width:208px;background-color:#DEB;}
div#colright     {position:absolute; left:0px; top:0px;right:0px; background-color:transparent; margin: 8px 4px 8px 4px;}
div#colchords   {position:absolute; top:0px; right:0px; left:234px; background-color:transparent;}
div#colsheet    {position:fixed; top:8px; right:8px; bottom: 8px; width: 330px; margin-left: 8px; overflow-y:auto;text-align:center; background-color:transparent; display:none;}
div#colsheet img {height:111px;padding:0px;  -ms-interpolation-mode:bicubic;}
div#colsheet input {background-color:#b4cc6a;font-weight:bold;}

div#chordscontainer {padding:8px; margin: 4px 0px 8px 0px; background-color: #FFFFFF; border: 1px dashed #aaaaaa; }
div#chordscontainer img {margin:0px;}
div#sheetinfo { padding:4px; background-color: #DEB;}
div.linebr { border-bottom:dotted 4px black; padding-top:4px; padding-bottom: 4px; width:200px;margin-right:auto;margin-left:auto;}
div#sheetchords { margin-top:4px; min-height: 220px; background-color: #FFFFFF; border: 1px dashed #aaaaaa;}

div.sheetlabel { border: 1px dotted #000; }
div.buttondiv { margin: 4px 0px 4px 4px; }

div#helpsingle { display:none; margin:0px 0px 8px 0px; background-color: #DEB; padding: 4px;}

div#instlist {text-align:left;margin:2px;display:none;}
div#instlist ul {padding-left:16px;font-size:1.2em;margin:0px;}

div#colchords p {padding-left:8px; line-height:1em; }
div#colsheet p {line-height:1em;margin:2px 0px 2px 0px;}
div#greendiv {overflow:auto;padding:0px 0px 4px 0px;margin:0px 0px 8px 0px; background-color: #DEB;}
div#controls {text-align:right;}

div#tuninglist {font-size:0.90em;padding:0px;text-align:left;display:none;}
div#tuninglist ul {padding-left:16px;margin-left:0px;margin-top:2px;margin-bottom:8px;}


div#minihelp {float:right;width:96px;padding:0px;margin:0px 0px 0px 8px;font-size:0.70em;}
div#minicol {float:left;width:96px;border:1px #000000 solid;padding:2px;margin:8px;font-size:0.90em;}

div#footer { margin: 0px; width: 100%; background-color: transparent; padding: 0px;}

div#footerleft {float:left;width:49%; min-width:120px;margin:0px 0px 8px 0px;}
div#footerleft	div {text-align:left; background-color: #DEB; padding: 4px; display: inline-block; min-height:30px;float:left;}

div#footerright {float:right;width:49%;margin:0px 0px 8px 0px;}
div#footerright	div {text-align:right; background-color: #DEB; padding: 4px; display: inline-block; min-height:30px;float:right;}

div#authorship {font-size:0.80em;}

div#authorship img {vertical-align:text-bottom;}
div#printinfo {height:0px;width:0px;overflow:hidden;visibility:hidden;}
img.chordimg, img.chordimgalt, img#scaleimg {margin:2px;vertical-align:top;white-space:pre;}
div.warnmsg {border:2px #AA0000 solid;color:#000000;background-color:#FFDDDD;padding:4px;text-align:center;margin:4px;margin-right:120px;}
div#nojs h2 {color:#FF0000;}
div#advcontainer	{margin-top:4px;}
div#advopt, div#tuninglist, div#instlist {border:1px solid #008866;}
div#warn { display:none; }
span#nocust { display:none; }
div#lhinfo { display:none; }

div#dyk {border:2px #000000 solid;padding:4px;margin-top:8px;margin-bottom:8px;background-color:#FFFDD0;font-size:0.85em;text-align:center;font-size:0.90em;}

div#progresscontainer { height:100px; display:none; }
div#cposcontainer, div#chordselcontainer { padding-bottom:2px;padding-top:2px;margin:0px; }
div#cposcontainer { display:none; }

#progressBar {
	margin:0 auto;
        width: 400px;
        height: 24px;
        border: 1px solid #111;
        background-color: #292929;
	overflow:hidden;
}
 
#progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px;
        width: 0px;
        background-color: #0099ff;
	overflow:hidden;
	font-size:1.4em;
}
